@model IEnumerable<NewsApp.Entities.Models.NewsArticle>
@using NewsApp.Extentions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["index"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead {
    <link rel="stylesheet" href="~/css/articles/index.css" asp-append-version="true" />
}

<h1>@Localizer["index"]</h1>
<div class="d-flex align-items-center justify-content-center flex-column">
@foreach (var item in Model) {
    <a asp-action="Details" asp-route-id="@item.Id">
        <div class="shadow-article w-75 d-flex align-items-center justify-content-center flex-column">
            <div>
                <img class="o-fit-contain" width="312" height="312" src="~/@item.HeadImagePath.FixImagePath()" />
            </div>
            <div>
                <h3>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @item.Title
                    </a>
                </h3>
            </div>
            <div class="d-flex flex-column">
                <span class="simple-text">@Localizer["category"]: @Localizer[item.Category.Name]</span>
                <span class="simple-text">@Localizer["write_date"]: @item.CreatedDate.Date.ToString("dd.MM.yyyy")</span>
                @if (string.IsNullOrWhiteSpace(item.User.FirstName))
                {
                    <span class="simple-text">@Localizer["write_by"]: @item.User.UserName</span>
                }
                else
                {
                    <span class="simple-text">@Localizer["write_by"]: @(item.User.FirstName + ' ' + @item.User.LastName)</span>
                }
            </div>
        </div>
    </a>
}
</div>

@{
    int totalPages = (int)Math.Ceiling((double)ViewBag.ArticlesCount / ViewBag.PageSize);

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
