@model NewsApp.Entities.Models.NewsArticle
@using NewsApp.Extentions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["delete"]</h1>

<h3>@Localizer["sure_string"]</h3>
<div>
    <h4>@Localizer["news_article"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <br />
        <dt>
            @Localizer["current_image"]
        </dt>
        <dd class="col-sm-10">
            <img class="o-fit-contain w-312 h-312" 
                src="~/@Model.HeadImagePath.FixImagePath()"
                />
        </dd>
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["back_to_list"]</a>
    </form>
</div>
