@model NewsApp.Entities.Models.NewsArticle
@using NewsApp.Extentions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["details"]</h1>

<div>
    <h4>@Localizer["news_article"]</h4>
    <hr />
    <dl class="column">
        <dt class="col-sm-2">
            <span>@Localizer["image"]:</span>
        </dt>
        <dd class="col-sm-10">
            <img class="o-fit-contain h-312 w-312" 
            src="~/@Model.HeadImagePath.FixImagePath()" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextData)
        </dt>
        <dd class="col-sm-10" style="white-space:pre-line">
            @Html.DisplayFor(model => model.TextData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["edit"]</a> |
    <a asp-action="Index">@Localizer["back_to_list"]</a>
</div>
