@model NewsApp.Entities.ViewModels.NewsArticleEditViewModel
@using NewsApp.Extentions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject NewsApp.Data.NewsAppContext context;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>NewsArticle</h4>
<hr />
<div class="d-flex flex-column">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column form-group">
                <label class="control-label">Text:</label>
                <textarea asp-for="TextData" style="min-height:200px; resize: both;" ></textarea>
                <span asp-validation-for="TextData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span>
                    @Localizer["current_image"]:
                    <img class="o-fit-contain w-312 h-312"
                            src="~/@Model.ImagePath.FixImagePath()" /></span>
                    <br />
                <span>@Localizer["dont_touch_image"]</span>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="d-flex form-group">
                <label class="control-label">Category:</label>
                <select name="CategoryId" asp-for="CategoryId" required>
                    @foreach (var item in context.Categories.Where(x => !x.IsDeprecated))
                    {
                        @if(item.Id == Model.CategoryId)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                            continue;
                        }
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input type="checkbox" asp-for="IsDeleted" class="check-box" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["back_to_list"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
