@model IEnumerable<NewsApp.Entities.Models.NewsArticle>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["index"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["index"]</h1>

<p>
    <a asp-action="Create">@Localizer["createnew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    int totalPages = (int)Math.Ceiling((double)ViewBag.ArticlesCount / ViewBag.PageSize);

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
